.hexa-page {
  background-image: url(../../assets/bg/hexacopy.jpeg);

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
