// Override default variables before the import
// CONFIG
$white: #ffffff;
$white-n1: #f9f9f9;
$cream: #f9f9f9;
$purple: #8e61ff;
$black: #000000;
$black-n1: #171717;
$grey: #f2f2f2;
$grey-n1: #a9a9a9;
$grey-n2: #a1a8ac;
$purple: #a682ff;
$yellow: #fff500;

$font-family-sans-serif: "Inter";
$font-family-monospace: "Inter";
$heading-font-family: "Inter";
$body-font-family: "Inter";
$base-font-size: 1.5rem;

$nav-link-padding-y: 0;
$nav-link-padding-x: 0;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1100px,
  xxl: 1320px,
);
$navbar-light-color: "transparent";
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.footer-section {
  height: 300px;
}
.hero-bubble {
  width: 60%;
}
.container-pad {
  padding: 80px 0;
}
.container-pad-bot {
  padding-bottom: 80px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.space {
  margin: 100px 0;
  font-size: 40px;
}

.brand-pic {
  width: 80%;
}
.text-whitee {
  color: #f2f2f2;
}
.hero-bubble {
  animation: move 1s 1s infinite ease-out alternate both;
}
.partne {
  position: relative;
  left: -80px;
}
.basicText {
  font-size: 1.2rem;
}

@keyframes move {
  100% {
    transform: translate3d(0, -60px, 0);
  }
}
/* * {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}
.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position: relative;
  height: 100%;
} */
.roadmap-section img {
  width: 90%;
}
.bob-width {
  width: 60px;
}
.bob-width2 {
  width: 60px;
}
.road-text {
  position: relative;
  top: 192px;
}
.PartnerCoin {
  transform: scale(0.8);
}
.alert-phone {
  display: none;
}
@import "./styles/index.scss";

@media screen and (max-width: 900px) {
  #root {
    display: none;
  }
  .alert-phone {
    display: block;
  }
}
