.cta {
  background: #ffa7ab;
  border: 2px solid #ffa7ab;
  width: auto;
  text-align: center;
  position: relative;
  padding: 0.75rem 2rem;
  display: inline-flex;
  cursor: pointer;
  border-radius: 100px;
  color: #996666;
}

.cta-connect {
  background-image: linear-gradient(
    225deg,
    rgb(201, 2, 215),
    rgb(52, 159, 222)
  );
  border: 0px solid transparent;
  color: #fff;
  font-weight: bold;
  margin-left: 2rem;
}
