.nav-liink a {
  font-weight: 500;
}
.nav-braand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;

  & span {
    padding-left: 20px;
  }
}
.bg-grad {
  background-image: linear-gradient(225deg, #349fde, #c902d7);
}
