.roadmap-section {
  height: 400vh;
  color: white;
}

.roadmap-p {
  margin: 100px auto 0;
}

.roadmap-svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.roadmap-ball {
  fill: white;
  visibility: hidden;
}

.roadmap-line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
.roadmap-text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif;
  visibility: hidden;
}
